<div class="content">
<h1>Log in </h1>

<%= form_for(:session, url: login_path) do |f| %>
  <p><%= f.label :username %><br>
  <%= f.text_field :username, class: 'form-control' %>
</p>
  <p><%= f.label :password %><br>
  <%= f.password_field :password, class: 'form-control' %>
</p>
    <%= f.label :remember_me, class: 'checkbox inline' do %>
      <%= f.check_box :remember_me %>
      <small>Remember me on this computer</small>
    <% end %>
 <p> <%= f.submit "Log in", class: 'btn btn-primary' %></p>
  <% end %>
  <p>New User? <%= link_to "Sign up now!", new_user_path%></p>
</div>