<div class="content">
<h2>Welcome: <%= @user.username %></h2>
<p>What are we going to accomplish today?</p>
<a href="#" >Add List Item</a>
 <%= form_for @tasks, method: :post do |f| %>
      <%= f.text_field :description %>
      <%= f.hidden_field :user_id, :value => @current_user.id %>
 <%= f.submit "Add Todo", class: 'btn btn-primary' %>
  <% end %>

<h2>Things to get Done!!</h2>
     <% @user.tasks.each do |task| %>
     <%= zones(task) %> 
     <div class="taskName">
     <%= task.description %>
     </div>
     <div class='daysLeft'>
     <%= days_left(task) %>
     <span><%= 'Day'.pluralize(days_left(task)) %> Left</span>
     </div>
     <div class="deleteTask"><%= link_to "X", [@task], method: :delete %></div>
     </div>
     <% end %>   
  </ul>
</div>